<div class="row">
  <div class="heading-wrapper">
    <h1><%= @title %> QR коды</h1>
  </div>
</div>
<%= paginate @qr_codes %>
<div class="row justify-content-center">
  <div class="col-10">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Предпросмотр</th>
            <th scope="col">Имя</th>
            <% if current_user %>
            <th scope="col">Переходы</th>
            <th scope="col">Действия</th>
            <% end %>

          </tr>
        </thead>
        <tbody>
        <% @qr_codes.reverse_each do |qr_code| %>
          <tr>
            <td><%= link_to image_tag(qr_code.image), url_for(qr_code.image), {target: 'blank'} %></td>
            <td><%= link_to qr_code.name, url_for(qr_code.image), {target: 'blank'} %></td>
            <% if current_user %>
              <td><%= qr_code.scans if qr_code.account %>
              <% if !qr_code.account %>
                <span>&#10008;</span>
              <% end %>
              </td>
              <td><%= link_to "Редактировать", edit_qr_code_path(qr_code.id), class: 'btn btn-primary' %>

              <%= link_to "Удалить", qr_code_path(qr_code.id), class: 'btn btn-danger', method: :delete, data: { confirm_swal: "" } %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

