<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="heading-wrapper text-description">
      <h1>Приветствуем на нашем сервисе!</h1>
      <div class="heading-description">Ниже можно вставить ссылку на статью или видеоролик.
      </div>
      <div class="heading-description">
        При нажатии на кнопку <span>Сгенерировать</span>, появится QR код, который можно будет вставить в сообщение.
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4">

    <%= form_with url: qr_codes_path, method: :post do |f| %>

      <div class="form-floating form-group">
        <%= f.text_field :name, { class: "form-control" } %>
        <%= f.label :name, "Название ссылки:" %>
      </div>

      <div class="form-floating form-group">
        <%= f.text_field :url, { class: "form-control" } %>
        <%= f.label :url, "Адрес ссылки:" %>
      </div>
      <div class="form-group justify-content-center">
        <%= f.submit "Сгенерировать", { class: "btn btn-primary" }  %>
      </div>
      
    <% end %>

  </div>
</div>