<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="heading-wrapper text-description">
      <h1>Приветствуем на нашем сервисе!</h1>
      <div class="heading-description">Ниже можно вставить ссылку на статью или видеоролик.
      </div>
      <div class="heading-description">
        При нажатии на кнопку <span>Сгенерировать</span>, появится QR код, который можно будет вставить в сообщение.
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">

  <%= form_with url: qr_codes_path, method: :post do |f| %>

    <div class="offset-lg-4 col-lg-4">
      <div class="form-floating form-group">
        <%= f.text_field :name, { class: "form-control" } %>
        <%= f.label :name, "Название ссылки:" %>
      </div>

      <div class="form-floating form-group">
        <%= f.text_field :url, { class: "form-control" } %>
        <%= f.label :url, "Адрес ссылки:" %>
      </div>

      <div class="form-check form-switch switch-wrapper">
        <%= f.text_field :remember_me, { class: "form-check-input", type: "checkbox", name: "remember", value: "true", checked: true  } %>
        <%= f.label :remember_me, "Сохранить код для статистики*", { class: "form-check-label" } %>
      </div>

    </div>

    <div class="col-12 align-center">

      <div class="title-small">Цвет заднего плана</div> 
      <div class="btn-group btn-small" role="group" aria-label="Basic radio toggle button group">
        <%= f.text_field :color_black, { class: "btn-check ", type: "radio", name: "btncolor", autocomplete: "off", value: "black", checked: true  } %>
        <%= f.label :color_black, "Черный", { class: "btn btn-outline-primary color-bg-black" } %>
        <%= f.text_field :color_red, { class: "btn-check", type: "radio", name: "btncolor", autocomplete: "off", value: "white" } %>
        <%= f.label :color_red, "Белый", { class: "btn btn-outline-primary color-bg-white" } %>
        <%= f.text_field :color_green, { class: "btn-check", type: "radio", name: "btncolor", autocomplete: "off", value: "SpringGreen" } %>
        <%= f.label :color_green, "Зеленый", { class: "btn btn-outline-primary color-bg-springgreen" } %>
      </div>
      <div class="title-small">Цвет переднего плана</div>
      <div class="btn-group btn-small" role="group" aria-label="Basic radio toggle button group">
        <%= f.text_field :color_bg_white, { class: "btn-check", type: "radio", name: "btncolorbg", autocomplete: "off", value: "white", checked: true  } %>
        <%= f.label :color_bg_white, "Белый", { class: "btn btn-outline-primary color-bg-white" } %>
        <%= f.text_field :color_bg_red, { class: "btn-check", type: "radio", name: "btncolorbg", autocomplete: "off", value: "black" } %>
        <%= f.label :color_bg_red, "Черный", { class: "btn btn-outline-primary color-bg-black" } %>
        <%= f.text_field :color_bg_green, { class: "btn-check", type: "radio", name: "btncolorbg", autocomplete: "off", value: "Navy" } %>
        <%= f.label :color_bg_green, "Синий", { class: "btn btn-outline-primary color-bg-navy text-white" } %>
      </div>
    </div>

    <div class="form-group justify-content-center">
      <%= f.submit "Сгенерировать", { class: "btn btn-accept btn-main" }  %>
    </div>

  <% end %>

  <div class="col-8 align-center">
    <p>* Регистрация даёт возможность сохранять статистику переходов по сгенерированным кодам. </p>
  </div>
  
</div>
