<div class="row">
  <div class="heading-wrapper text-description">
    <h1>Привет, друг!</h1>
    <div class="heading-description">Ты можешь вставить ниже ссылку на статью или видеоролик.
    </div>
    <div class="heading-description">
    Когда ты нажмешь на кнопку <span>Сгенерировать</span>, появится QR код, который можно будет вставить в письмо.
    </div>  
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4">

    <%= form_with url: qr_codes_path, method: :post do |f| %>


      <div class="form-floating form-group">
        <%= f.text_field :name, { class: "form-control" } %>
        <%= f.label :name, "Название ссылки:" %>
      </div>

      <div class="form-floating form-group">
        <%= f.text_field :url, { class: "form-control" } %>
        <%= f.label :url, "Адрес ссылки:" %>
      </div>
      <div class="form-group justify-content-center">
        <%= f.submit "Сгенерировать", { class: "btn btn-primary" }  %>
      </div>
      
    <% end %>

  </div>
</div>